<p>
    <%= image_tag opinion.author.photo.variant(resize_to_limit: [100, 100]) %>
    <%= link_to opinion.author.fullname, user_path(opinion.author) %>
    <small><b><%= display_username(opinion.author) %></b></small>
    on the <%= opinion.created_at %>
 </p>
<p>Review of <%= opinion.book_name %></p>
<p>Book published on the <%= opinion.published_at %>, by <%= opinion.book_author %></p>
<p><%= opinion.content %></p>
<%= link_to 'View', opinion_path(opinion)%>
<%= read_opinion_button(opinion) %>
<%= edit_opinion_button(opinion) %>
<%= delete_opinion_button(opinion) %>
<%= liking_opinion_button(opinion) %>

<p> <%= opinion.likes_count %> Likes </p>
<p> <%= opinion.dislikes_count %> Dislikes </p>
<p> <%= opinion.comments_count %> comments </p>