<div class="col-9 d-flex flex-column grey-border-right">
    <div class="row grey-border-bottom p-4">
        <span class="dark-grey text-extra-medium font-weight-bolder">All book reviews</span>
    </div>
    <div class="row d-flex flex-column p-4">
        <% if current_user %>
            <div class="row bg-white grey-border rounded p-4 m-1">
                <%= render 'opinion_form' %>
            </div>
        <% end %>

        <div class="col bg-white grey-border rounded px-5 mx-1 my-3">
            <div class="row grey-border-bottom py-4">
                <span class="blue text-medium font-weight-bolder"><%= @opinions.count %> book review(s)</span>
            </div>
            <% @opinions.each do |opinion| %>
                <%= render opinion %>
            <% end %>
        </div>
    </div>
</div>
<div class="col-3 d-flex flex-column ">
    <% if current_user %>
        <div class="row grey-border-bottom px-4">
            <div class="col-12 grey-border-bottom py-4 px-0">
                <span class="dark-grey text-extra-medium font-weight-bolder">Who to follow</span>
            </div>
            <div clas="col-12 d-flex flex-column p-4">
                <% current_user.follow_suggest.each do |user| %>
                    <%= render user %>
                <% end %>
                <div class="p-2 blue">
                    <%= link_to 'Popular account', users_path, class: "blue small-text" %> <span> &#183; </span> 
                    <%= link_to 'Find friends', users_path, class: "blue small-text" %> 
                </div>
            </div>
        </div>
    <% end %>
    <div class="row px-4">
        <div class="col-12 grey-border-bottom py-4 px-0">
            <span class="dark-grey text-extra-medium font-weight-bolder">Popular reviews</span>
        </div>
        <div clas="col-12 d-flex flex-column p-4">
            <% most_popular_posts.values[0..2].each do |opinion| %>
                <div class="row py-2">
                    <div class="col-3 px-4">
                    <%= image_tag opinion.author.photo.variant(resize_to_limit: [100, 100]), class: "user-pic" %> 
                    </div>
                    <div class="col-7">
                        <%= link_to opinion.author.fullname, user_path(opinion.author), class: "text-dark small-text font-weight-bold" %>
                        <p><small class="grey"> review of <b class="blue"><%= opinion.book_name %></b>: <%= opinion.content.truncate(25) %></small></p>
                    </div>
                    <div class="col-2">
                        <%= link_to '', opinion_path(opinion), class: "fa fa-eye blue mx-2"%> 
                    </div>
                </div>
            <% end %>
            <div class="p-2 blue">
                <%= link_to 'Make a review too', users_path, class: "blue small-text" %>
            </div>
        </div>
    </div>
</div>
