<div class="row mb-4">
    <div class="col-2 p-0">
        <%= image_tag comment.author.photo.variant(resize_to_limit: [100, 100]), class: "profile-pic" %>
    </div>

    <div class="col">
        <div class="row">
            <div class="col p-0">
                <%= link_to comment.author.fullname, user_path(comment.author), class: "text-dark text-medium font-weight-bolder" %>
            </div>
            <div class="col d-flex justify-content-end grey p-0">
                <%= distance_of_time_in_words(DateTime.now, comment.created_at)%>
            </div>
        </div>
        <div class="row">
            <p class="dark-grey"><%= comment.content %></p>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-end grey p-0">
                <%= edit_comment_button(@opinion, comment) %>
                <%= delete_comment_button(@opinion, comment) %>
            </div>
        </div>
    </div>
</div>