<!DOCTYPE html>
<html>
  <head>
    <title>Book Review</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if flash[:notice] %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if flash[:errors] %>
      <% flash[:errors].each do |error| %>
       <p class="error"><%= error %></p> <br>
      <% end %>
    <% end %>

    <% if current_user %>
      <%= link_to 'My profile', user_path(current_user) %>
      <%= link_to 'Sign Out', sign_out_path, class: "text-white" %>
    <% else %>
      <%= link_to 'Sign Up', sign_up_path, class: "text-white" %>
      <%= link_to 'Sign In', sign_in_path, class: "text-white" %>
    <% end %>

    <%= yield %>
  </body>
</html>
